p {
    font-weight: bold;
    font-size: 20px;
}

img, p {
    display: block;
    margin-left: 0;
    text-align: left;
}

@media (screen) {
    img {
        display: block;
        margin: auto;
    }
}

@media (print) {
    header, footer, nav, aside {
        display: none;
    }
}