@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

.font1 {
    font-family: OpenSans, sans-serif;
    font-size: 2em;
}

.font2 {
    font-family: "Roboto Slab", serif;
}

.font3 {
    font-family: "Noto Sans Bhaiksuki", sans-serif;
    font-weight: 400;
    font-style: normal;
}