* {
    font-family: Arial, sans-serif;
}

ul.menu {
    width: 140px;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ffc83d;
}

li {
    border-bottom: solid #ffc83d 1px;
}

li:nth-last-child {
    border-bottom: none;
}

li, a {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #333;
    padding: 5px;
    background-color: #e5f3fe;
}

A:hover {
    background-color: #c8e2f7;
}

a::before {
    content: '👉';
}