/* :first-child Selecciona el primer hijo dentro de su elemento padre */
.caso1-2 p:first-child {
  color: green;
}

/* :last-child Selecciona el último hijo dentro de su elemento padre */
.caso1-2 p:last-child {
  color: red;
}

/* :first-of-type Selecciona el primer elemento de su tipo dentro del padre */
.caso3-4-5 h2:first-of-type {
    color: blue;
    text-decoration: underline;
}

/* :last-of-type Selecciona un elemento que es el único de su tipo dentro del padre */
.caso3-4-5 h2:last-of-type {
  color: orange;
}

/* :only-of-type Selecciona un elemento siepre y cuando sea el unico hijo de ese tipo, de ese padre */
.caso3-4-5 p:only-of-type {
  font-style: italic;
  background-color: lightgray;
  color: darkgreen;
}

/* :only-child Selecciona al elemento si es el hijo único de su padre */
.caso6 p:only-child {
    background-color: violet;
    color: white;
}

/* :empty Selecciona al elemento si está vacío */
.caso7 p:empty {
  width: 100%;
  height: 10px;
  border-style: solid;
  border-width: 1;
  border-color: black;
}

/* :nth-child(n) Selecciona el enésimo hijo de su padre */
.caso8-9-10-11 li:nth-child(2) {
  color: orange;
}

/* :nth-last-child(n) Selecciona el enésimo hijo de su padre empezando por el final */
.caso8-9-10-11 li:nth-last-child(2) {
  background-color: black;
  color: red;
}

/* :nth-of-type(n) Selecciona el enésimo hermano del mismo tipo */
.caso8-9-10-11 li:nth-of-type(3) {
  color: violet;
}

/* :nth-last-of-type(n) Selecciona el enésimo hermano de su tipo empezando por el último */
.caso8-9-10-11 li:nth-last-of-type(4) {
  background-color: green;
  color: pink;
}

/* :not(selector) Selecciona cada elemento que no sea el selector que se ha indicado */
.caso12 p:not(p.exception) {
  background-color: purple;
  color: white;
}

/* :root Selecciona el elemento raiz del documento */
:root {
  background-color: aquamarine;
}

/* :enabled Selecciona cada elemento que esté activo o habilitado */
.caso13-14-15 :enabled {
  background-color: red;
}

/* :disabled Selecciona cada elemento que esté deshabilitadoo */
.caso13-14-15 :disabled {
  margin: 5px;
  width: 100%;
  height: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: purple;
}

/* :checked Selecciona los elementos input de radio buttons y chackboxes así como los elementos option */
.caso13-14-15 input:checked {
  background-color: orange;
  outline: 4px solid red;
  transform: scale(1.2);
}