/* fuente montserrat google fonts */
.montserrat-body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

:root {
    --primary-blue: #074167;
    --dark-blue: #143548;
    --background-light: #ffebd9;
    --hover-light: #CCB299;
}


/* header */

body {
    font-family: "Montserrat", sans-serif;
    /* espacio inferior para que el contenido no quede oculto por el footer fijo */
    padding-bottom: 90px;
}

header {
    background-color: var(--dark-blue);
    position: relative;
    z-index: 10;
}

.logo img {
    position: fixed;
    transition: transform 0.25s ease;
    z-index: -20;
}

.logo img:hover {
    transform: rotate(360deg);
}

.search input {
    border-radius: 4px;
    transition: scale 0.25s ease;
}

.search input:hover {
    scale: 1.1;
}

.search .lupa {
    transition: scale 0.25s ease;
}

.search .lupa:hover {
    scale: 1.3;
}



header nav .menu a, header nav .menu li {
    color: white;
    text-decoration: none;
    list-style: none;
}

header nav .menu a:hover, footer .footer-menu a:hover {
    color: var(--hover-light);
}




/* main */

.cta-container {
    background-image: url(../images/gato-fondo-e1701355048196.jpg);
    filter: sepia(30%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
    
.cta-container h1 {
    color: var(--dark-blue);
    text-shadow: 8px 4px 6px var(--hover-light);
}


/* footer */

/* Hacer que el footer quede siempre en la parte inferior de la ventana */
footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 50;
}

footer .footer-menu {
    position: static;
    background-color: var(--dark-blue);
}

footer .footer-menu h3, footer .footer-menu a {
    text-decoration: none;
    color: white;
}

footer .footer-copy {
    position: relative;
    background-color: var(--primary-blue);
    color: white;
}

.footer-copy a {
    color: white;
}


/* hovers */

.footer-copy .facebook:hover {
    background-color: #3b5998;
}

.footer-copy .twitter:hover {
    background-color: #1DA1F2;
}

.footer-copy .instagram:hover {
    background-color: #fd1d1d;
}

.footer-copy .linkedin:hover {
    background-color: #0A66C2;
}



/* cursor pointer */
header a,
header button,
header .search input,
.search .lupa,
.search .hamburger {
  cursor: pointer;
}

