body {
    color: black;
    font-family: Courier;
    font-size: 12pt;
    line-height: 1.2;
}

.bloque {
    margin-bottom: 20px;
}

h1 {
    color: #666666;
    font-size: 2em;
    text-shadow: 2px 2px 4px blue;
    text-transform: capitalize;
    word-spacing: 5px;
}

ul {
    text-align: center;
    text-decoration: underline;
    list-style-position: inside; /* hace que los marcadores también se pongan en el centro */
}

a:link {
    color: gray;
    font-style: italic;
    text-decoration: none;
}

a:visited {
    color: red;
    font-weight: bold;
    text-decoration: underline double;
}

