body {
    font-family: Arial, sans-serif;
}

.main {
    background-color: #f2f2f2;
}

.contenedor {
    background-color: #ccc;
}

aside {
    background-color: #e8c547;
    color: white;
}

footer, header {
    background-color: #4d5061;
    color: white;
}