* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #4a465b;
    font-family: Arial, sans-serif;
    color: black;
   
}

p {
    line-height: 27px;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    overflow: hidden;
}



header {
    background: white;
    width: 100%;
}

.menu {
    list-style: none;
}


.menu li {
    display: inline-block;
}

.menu li a {
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 15px 20px;
}

.menu li a:hover {
    background: black;
    color: white;
}



.main {
    width: 70%;
    float: left;
    background: white;
    margin-bottom: 20px;
}

.imagen img {
    width: 100%;
    height: auto;
}

.posts article h2 {
    padding: 20px;
    margin-bottom: 10px;
}

.posts article p {
    padding: 20px;
    margin-bottom: 15px;
}



aside {
    width: 30%;
    float: left;
    background: #161f26;
    color: white;
    padding: 20px;
}

.widget {
    margin-bottom: 20px;
}

.widget .titulo {
    color: #ff8000;
    border-bottom: 1px solid #ff8000;
    margin-bottom: 10px;
}

.widget ul {
    list-style: none;
}

.widget ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0;
}

.widget ul li a {
    color: white;
    text-decoration: none;
}

.widget ul li a:hover {
    color: #8f8f8f;
}



footer {
    width: 70%;
    clear: both;
    background: black;
    color: white;
    text-align: center;
    padding: 15px 0;
}




/* VERSION MOVIL */
@media screen and (max-width: 800px) {

    .main,
    aside, footer {
        float: none;
        width: 100%;
        margin: 0;
    }

    .menu {
        list-style: none;
        text-align: center;
    }

    .menu li {
        display: inline-block;
        margin: 10px 0;
    }

    .menu li a {
        text-decoration: none;
        display: inline-block;
        color: black;
    }
}